@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --background-primary: #f8f8f8;
    --background-secondary: #e1e1e1;
    --border: #c4c4c4;

    --text-primary: #060606;
    --text-secondary: #1e1e1e;

    --color-easy: #8edf91;
    --color-easy-hover: #52c656;
    --color-medium: #ffe670;
    --color-medium-hover: #e4c945;
    --color-hard: #ff8178;
    --color-hard-hover: #ec584d;

    --success: #c6fdc6;
    --warning: #f9c064;
    --danger: #ffbebe;
    --info: #a8c1f9;
    --link: #1430ff;

    --global-border-radius: .5rem;
    --global-border-radius-sm: .25rem;
}

.dark {
    --background-primary: #242424;
    --background-secondary: #151515;
    --border: #3f3f3f;

    --text-primary: #f8f8f8;
    --text-secondary: #ececec;

    --color-easy: #458c48;
    --color-easy-border: #19461b;
    --color-medium: #b68218;
    --color-medium-border: #806f1a;
    --color-hard: #90433e;
    --color-hard-border: #581e1a;

    --success: #2a6e2a;
    --warning: #dd831c;
    --danger: #5f2727;
    --info: #214083;
    --link: #5569ff;

    --global-border-radius: .5rem;
    --global-border-radius-sm: .25rem;
}

// Heading Styles
$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.6rem;
$h4-font-size: 1.4rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, img, sub, sup,
b, u, i, ol, ul, li,
fieldset, form, label,
article, aside, footer,
header, nav, section,
div, input {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: var(--background-primary);
    color: var(--text-secondary);
}

article, aside, footer,
header, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-primary);
	font-family: "Ubuntu", serif;
	font-weight: 100;
	font-style: normal;
}

h1 {
    font-size: $h1-font-size;

    @media (max-width: 600px) {
        font-size: $h2-font-size;
    }
}

h2 {
    font-size: $h2-font-size;

    @media (max-width: 600px) {
        font-size: $h3-font-size;
    }
}

h3 {
    font-size: $h3-font-size;

    @media (max-width: 600px) {
        font-size: $h4-font-size;
    }
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}

sup {
    color: var(--text-secondary);
    font-size: .75rem;
}

p, button, input,
ul, li, span, sup {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.caption {
    font-size: .75rem;
    width: 100%;
}

// Global classes

.close-button {
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    font-size: 1.75rem;
}

.button {
    background: transparent;
    border: none;
    border-radius: var(--global-border-radius-sm);

    &.primary {
        background-color: var(--color-easy);
        color: var(--text-primary);
        font-size: 1.2rem;
        padding: .5rem;
    }

    &.danger {
        background-color: var(--color-hard);
        color: var(--text-primary);
        font-size: 1rem;
        padding: .5rem;

        &:hover {
            background-color: var(--color-hard-hover);
            cursor: pointer;
        }
    }

    &.link {
        color: var(--link);

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.tag-container {
    display: flex;
    gap: .2rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin: .5rem auto;
    width: 100%;

    .tag {
        background-color: var(--info);
        border-radius: var(--global-border-radius-sm);
        font-size: .8rem;
        padding: .2rem .5rem;
        text-align: center;
        width: 100%;
    }
}

.difficulty-badge {
    border-radius: var(--global-border-radius-sm);
    display: flex;
    font-weight: 400;
    gap: .5rem;
    justify-content: center;
    padding: .5rem;
    width: 100%;

    &.difficulty-easy {
        background-color: var(--color-easy);
        border: 1px solid var(--color-easy-border);
        color: var(--text-secondary);
    }

    &.difficulty-medium {
        background-color: var(--color-medium);
        border: 1px solid var(--color-medium-border);
        color: var(--text-secondary);
    }

    &.difficulty-hard {
        background-color: var(--color-hard);
        border: 1px solid var(--color-hard-border);
        color: var(--text-secondary);
    }

    &.minimal {
        display: inline-block;
        padding: .2rem .5rem;
        width: 100%;
    }
}