@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --background-primary: #FFFFFF;
    --background-secondary: #F5F5F5;
    --border: #C3C3C3;

    --text-primary: #323334;
    --text-secondary: #000000;

    --color-1: #9FD6EF;
    --color-2: #63D99E;
    --color-3: #ED4D4D;

    --color-easy: #a5d6a7;
    --color-easy-hover: #81c784;
    --color-medium: #ffe082;
    --color-medium-hover: #ffd54f;
    --color-hard: #ef9a9a;
    --color-hard-hover: #e57373;

    --success: #c8e6c9;
    --warning: #ffcc80;
    --danger: #ffcdd2;
    --info: #bbdefb;
    --link: #1976d2;

    --global-border-radius: .5rem;
    --global-border-radius-sm: .25rem;
}

.dark {
    --background-primary: #2f3136;
    --background-secondary: #36393f;
    --border: #4f545c;

    --text-primary: #dcdcdc;
    --text-secondary: #c8c8c8;

    --color-easy: #66bb6a;
    --color-easy-hover: #43a047;
    --color-medium: #ffb300;
    --color-medium-hover: #ffa000;
    --color-hard: #e57373; 
    --color-hard-hover: #d32f2f;

    --success: #81c784;
    --warning: #ffb74d;
    --danger: #ef5350;
    --info: #64b5f6;
    --link: #64b5f6;

    --global-border-radius: .5rem;
    --global-border-radius-sm: .25rem;
}

// Heading Styles
$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.6rem;
$h4-font-size: 1.4rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, img, sub, sup,
b, u, i, ol, ul, li,
fieldset, form, label,
article, aside, footer,
header, nav, section,
div, input, a {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: var(--background-primary);
    color: var(--text-secondary);
}

article, aside, footer,
header, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

a {
    color: inherit;
    font: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.hero {
    color: var(--text-secondary);
	font-family: "Ubuntu", serif;
	font-weight: 100;
	font-style: normal;
}

.hero {
    font-size: 3.5rem;
}

h1 {
    font-size: $h1-font-size;

    @media (max-width: 600px) {
        font-size: $h2-font-size;
    }
}

h2 {
    font-size: $h2-font-size;

    @media (max-width: 600px) {
        font-size: $h3-font-size;
    }
}

h3 {
    font-size: $h3-font-size;

    @media (max-width: 600px) {
        font-size: $h4-font-size;
    }
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}

sup {
    color: var(--text-secondary);
    font-size: .75rem;
}

p, button, input,
ul, li, span, sup, a {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.caption {
    color: var(--text-primary);
    font-size: .75rem;
}

// Global classes

.close-button {
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    font-size: 1.75rem;
}

.button {
    background: transparent;
    border: none;
    border-radius: var(--global-border-radius-sm);

    &.full {
        width: 100%;
    }

    &.primary {
        background-color: var(--color-1);
        color: var(--text-primary);
        font-size: 1.2rem;
        padding: .5rem;
    }

    &.secondary {
        background-color: var(--color-2);
        color: var(--text-primary);
        font-size: 1.2rem;
        padding: .5rem;
    }

    &.danger {
        background-color: var(--color-2);
        color: var(--text-primary);
        font-size: 1rem;
        padding: .5rem;

        &:hover {
            background-color: var(--color-hard-hover);
            cursor: pointer;
        }
    }

    &.link {
        align-items: center;
        border-bottom: 1px solid var(--link);
        color: var(--link);
        display: flex;
        flex-direction: row;
        justify-content: center;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.link {
    align-items: center;
    border-bottom: 1px solid var(--border);
    color: var(--text-secondary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: .15rem;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.tag-container {
    display: flex;
    gap: .2rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin: .5rem auto;
    width: 100%;

    .tag {
        background-color: var(--info);
        border-radius: var(--global-border-radius-sm);
        font-size: .8rem;
        padding: .2rem .5rem;
        text-align: center;
        width: 100%;
    }
}

.difficulty-badge {
    border-radius: var(--global-border-radius-sm);
    display: flex;
    font-weight: 400;
    gap: .5rem;
    justify-content: center;
    padding: .5rem;
    width: 100%;

    &.difficulty-easy {
        background-color: var(--color-easy);
        border: 1px solid var(--color-easy-border);
        color: var(--text-secondary);
    }

    &.difficulty-medium {
        background-color: var(--color-medium);
        border: 1px solid var(--color-medium-border);
        color: var(--text-secondary);
    }

    &.difficulty-hard {
        background-color: var(--color-hard);
        border: 1px solid var(--color-hard-border);
        color: var(--text-secondary);
    }

    &.minimal {
        display: inline-block;
        padding: .2rem .5rem;
        width: 100%;
    }
}